In [2]:
import numpy as np 
import pandas as pd

In [4]:
np.nan

nan

In [6]:
pd.NA

In [8]:
pd.NaT

NaT

In [10]:
np.nan == np.nan

False

In [12]:
np.nan is  np.nan

True

In [14]:
myvar = np.nan

In [16]:
myvar is np.nan

True

In [ ]:
df = pd.read_csv('movie_scores.csv')

In [ ]:
df

In [ ]:
df.isnull()

In [ ]:
df.notnull()

In [ ]:
df[df['pre_movie_score'].notnull()]

In [ ]:
df[(df['pre_movie_score'].isnull()) & (df['first_name'].notnull())]

In [ ]:
df.dropna()

In [17]:
df.dropna(thresh=1)

NameError: name 'df' is not defined

In [ ]:
df.dropna(axis=1)

In [ ]:
df.dropna(axis=0)

In [ ]:
df.dropna(subset=['last_name'])

In [ ]:
df.fillna('New Value!')

In [ ]:
df['pre_movie_score'].fillna(0)

In [ ]:
df.fillna(df.mean())