In [4]:
import numpy as np

In [5]:
import pandas as pd

In [2]:
# Imaginary Sales Data for 1st and 2nd Quarters for global company
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 100, 'China': 500, 'India': 210, 'USA': 260}

In [7]:
sales_q1 = pd.Series(q1)

In [9]:
sales_q2 = pd.Series(q2)

In [11]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [13]:
sales_q2

Brazil    100
China     500
India     210
USA       260
dtype: int64

In [15]:
sales_q1['Japan']

np.int64(80)

In [17]:
sales_q1[0]

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_21280\92651501.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  sales_q1[0]

np.int64(80)

In [19]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [21]:
[1,2] * 2

[1, 2, 1, 2]

In [22]:
np.array([1,2] * 2)

array([1, 2, 1, 2])

In [24]:
np.array([1,2]) * 2

array([2, 4])

In [25]:
sales_q1 * 2

Japan    160
China    900
India    400
USA      500
dtype: int64

In [26]:
sales_q2/100

Brazil    1.0
China     5.0
India     2.1
USA       2.6
dtype: float64

In [28]:
sales_q1 + sales_q2

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [31]:
first_half = sales_q1.add(sales_q2,fill_value=0)

In [33]:
first_half.dtype

dtype('float64')